# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.sqlite3
*.db
.env
venv/
.env.*
*.log

# ======================
# Android / Kotlin
# ======================
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild

# Android Studio
.idea/
*.apk
*.ap_
*.dex

# Keystore files
*.jks
*.keystore

# ======================
# General
# ======================
node_modules/
dist/
*.log

# ======================
# Google Cloud
# ======================

qr_tracking_backend/qr-based-tracking--system-6da0041c1786.json
*.json
qr_frontend_ganesh/app/google-services.json